---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - network-policy.yaml
  - kustomize/workerbee.yaml
  - kustomize/secrets.yaml
  - kustomize/db.yaml
